{% extends 'base.html' %}

{% block title %}Create Task{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $("#id_due_date").datepicker();
});
</script>
{% endblock %}

{% block content %}
    <h1>Create Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="proceed-button">Submit</button>
    </form>

    <button onclick="window.location.href='{% url 'home' %}'" class='return-button'>Return Home</button>
{% endblock %}
