{% extends 'base.html' %}

{% block title %}Task Manager{% endblock %}

{% block content %}
    <h1>Sticky Notes Task Manager</h1>

    <div class="columns">
        <div class="column">
            <h2>Not Started</h2>
            <div class="stickies">
            {% for task in not_started_tasks %}
            <div class="sticky-task"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></div>
            {% endfor %}
            </div>
        </div>

        <div class="column">
            <h2>On Track</h2>
            <div class="stickies">
            {% for task in on_track_tasks %}
            <div class="sticky-task"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></div>
            {% endfor %}
            </div>
        </div>

        <div class="column">
            <h2>At Risk</h2>
            <div class="stickies">
            {% for task in at_risk_tasks %}
            <div class="sticky-task"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></div>
            {% endfor %}
            </div>
        </div>

        <div class="column">
            <h2>Overdue</h2>
            <div class="stickies">
            {% for task in overdue_tasks %}
            <div class="sticky-task"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></div>
            {% endfor %}
            </div>
        </div>

        <div class="column">
            <h2>Complete</h2>
            <div class="stickies">
            {% for task in complete_tasks %}
            <div class="sticky-task"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></div>
            {% endfor %}
            </div>
        </div>
    </div>

    <button onclick="window.location.href='{% url 'create_task' %}'" class='create-task-button'>Create Task</button>

    <button onclick="if (confirm('Are you sure you want to log out?'))
        logoutUser()" class='return-button'>Log Out</button>


    <script>
        function logoutUser() {
            fetch("{% url 'logout' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                }
            })

            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
        }
        </script>

{% endblock %}
